/* Empty. Add your own CSS if you like */

.item {
	padding: 10px;
	overflow: hidden;
}

.item img {
	width: 44px;
	float: left;
	margin: 0px 0px 0px 9px;
}

.item h3 {
	float: left;
	margin: 15px 0px 0px 20px;
}