/* Empty. Add your own CSS if you like */

.item {
	padding: 10px;
	overflow: hidden;
}

.item img {
	width: 44px;
	float: left;
	margin: 0px 0px 0px 9px;
}

.item h3 {
	float: left;
	margin: 7px 0px 0px 20px;
}

.item h3 span {
	text-transform: uppercase;
}

.currently-mining {
	overflow: hidden;
}

.currently-mining .card {
	width: 43%;
	text-align: center;
	float: left;
	margin: 15px 10px 0px 10px;
}

.currently-mining .card .item {
	padding: 8px;
}

.currently-mining .card .item h3 {
	float: none;
	margin: 0px 0px 0px 0px;
}

.currently-mining .card .item h1 {

}